p {
    display: inline-block;
    max-width: 100%;
    animation-name: rainbowText;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

@keyframes rainbowText {
    0% {
        color: red;
        transform: scale(1);
    }
    25% {
        color: orange;
    }
    50% {
        color: yellow;
        transform: scale(2);
        transform-origin: left;
    }
    75% {
        color: green;
    }
    100% {
        color: blue;
        transform: scale(1);
    }
}