body {
    text-align: center;
    font-family: sans-serif;
}

h1 {
    font-size: 3em;
    font-weight: 100;
}

.loader {
    margin: auto;
    height: 120px;
    width: 120px;
    border-top: 16px solid #4286f4;
    border-bottom: 16px solid #4286f4;
    border-left: 16px solid #ccc;
    border-right: 16px solid #ccc;
    border-radius: 100%;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    50% {
        border-top: 16px solid #8341f4;
        border-bottom: 16px solid #8341f4;
    }
    100% {
        transform: rotate(720deg);
    }
}
